version: "3.8"

services: 
  datacraft:
    image: datacraft
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080" # Port forwarding

    volumes:
      - ./:/app
           
volumes:
  app:
    